<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Simple Blog Web App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: 62vh">
        <li class="nav-item">
          <form
            action="/create"
            method="get"
            style="all: unset; margin: 0; padding: 0"
          >
            <button type="submit" class="nav-link">Create</button>
          </form>
        </li>
        <li class="nav-item">
          <form
            action="/View"
            method="get"
            style="all: unset; margin: 0; padding: 0"
          >
            <button type="submit" class="nav-link">View</button>
          </form>
        </li>
        <li class="nav-item">
          <form
            action="/Update"
            method="get"
            style="all: unset; margin: 0; padding: 0"
          >
            <button type="submit" class="nav-link">Update</button>
          </form>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Delete</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
