<%- include("partials/header.ejs") %> <%- include("partials/navbar.ejs") %>

<main>
  <header>
    <div class="container indexPage">
      <h1 class="alert alert-primary text-center" role="alert">
        Welcome to Simple Blog
      </h1>
      <h3 class="text-center mt-0 alert alert-secondary text-center">
        Your personal space to share thoughts and ideas.
      </h3>
      <p class="text-justify mt-4">
        At Simple Blog, we believe that everyone has a story to tell, and this
        is your space to tell it. Dive into posts written by fellow enthusiasts
        or share your own insights and experiences. Whether you're here to
        discover new perspectives or to cultivate a community around your
        passions, Simple Blog is your starting point for an enriching journey
        into the world of blogging.
      </p>
      <p class="text-justify">
        Our platform is designed to be straightforward and user-friendly,
        enabling you to focus on what truly matters—writing and reading. No
        setup required, just create your account, and start your blogging
        journey. Each post is a window into someone's world, and you can
        navigate through diverse topics, from technology and science to arts and
        personal stories.
      </p>
      <p class="text-justify">
        We encourage you to engage with content you find intriguing—leave
        comments, share posts, and build your network. Every interaction makes
        our community a richer and more interactive space.
      </p>
    </div>
  </header>
</main>
<%- include("partials/footer.ejs") %>
