body {
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: hotpink;
}

main {
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

h1 {
  font-size: 3.5rem;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
}

footer {
  /* position: absolute; */
  display: block;
  text-align: center;
  /* bottom: 0; */
}

form,
.indexPage {
  width: 60%;
  padding: 20px;
  background-color: #eaecef;
}

.form-check-input {
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 2px;
}

#updateForm > .form-check {
  margin-top: 15px;
}
#updateForm > .form-check:first-child {
  margin-top: 0px;
}

#updateForm button {
  margin-top: 20px;
}

html,
body {
  height: 100%; /* Ensure the full height of the page is used */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

.container {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  min-height: 80vh; /* Minimum height of 100% of the viewport height */
  flex-direction: column; /* Stack children vertically */
}
